.index {
    background-color: #fbf9f7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.index .div {
    background-color: #fbf9f7;
    height: 1916px;
    position: relative;
    width: 1920px;
}

.index .text-wrapper-6 {
    color: #9f79f3;
    font-family: "Lexend", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 924px;
    letter-spacing: 0;
    line-height: 30px;
    position: absolute;
    top: 95px;
    white-space: nowrap;
}

.index .p {
    color: #ffffff;
    font-family: "Manrope", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 924px;
    letter-spacing: 0;
    line-height: 20px;
    position: absolute;
    top: 125px;
    white-space: nowrap;
}

.index .group-2 {
    height: 74px;
    left: 816px;
    position: absolute;
    top: 181px;
    width: 294px;
}

.index .text-wrapper-9 {
    color: #171a1f;
    font-family: "Manrope", Helvetica;
    font-size: 52px;
    font-weight: 700;
    left: 72px;
    letter-spacing: 0;
    line-height: 74px;
    position: absolute;
    top: 0;
    white-space: nowrap;
}

.index .img {
    height: 60px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 60px;
}

.index .text-wrapper-10 {
    color: #323743;
    font-family: "Manrope", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 747px;
    letter-spacing: 0;
    line-height: 36px;
    position: absolute;
    top: 264px;
    white-space: nowrap;
}

.index .overlap-wrapper {
    height: 67px;
    left: 533px;
    position: absolute;
    top: 367px;
    width: 855px;
}

.index .overlap {
    height: 69px;
    left: -1px;
    position: relative;
    top: -1px;
    width: 857px;
}

.index .textbox-2 {
    border: 1px solid;
    border-color: #1e2128;
    border-radius: 4px 0px 0px 4px;
    height: 69px;
    left: 0;
    position: absolute;
    top: 0;
    width: 701px;
}

.index .text-wrapper-11 {
    color: #bdc1ca;
    font-family: "Manrope", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 76px;
    letter-spacing: 0;
    line-height: 36px;
    position: absolute;
    top: 16px;
    white-space: nowrap;
}

.index .frame-2 {
    height: 32px;
    left: 20px;
    position: absolute;
    top: 18px;
    width: 32px;
}

.index .textbox-3 {
    background-color: #6d31ed;
    border: 1px solid;
    border-color: #171a1f;
    border-radius: 0px 6px 6px 0px;
    height: 69px;
    left: 699px;
    position: absolute;
    top: 0;
    width: 158px;
}

.index .articles {
    color: #ffffff;
    font-family: "Manrope", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 57px;
    letter-spacing: 0;
    line-height: 36px;
    position: absolute;
    top: 16px;
    white-space: nowrap;
}

.index .frame-3 {
    height: 24px;
    left: 113px;
    position: absolute;
    top: 22px;
    width: 24px;
}

.index .overlap-3 {
    height: 526px;
    left: 327px;
    position: absolute;
    top: 500px;
    width: 628px;
}

.index .group-3 {
    height: 526px;
    left: 0;
    position: absolute;
    top: 0;
    width: 628px;
}

.index .heading-link-books {
    color: #302119;
    font-family: "Roboto", Helvetica;
    font-size: 24px;
    font-weight: 700;
    height: 36px;
    left: 0;
    letter-spacing: 0;
    line-height: 36px;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 70px;
}

.index .heading-link {
    color: #9a938d;
    font-family: "Roboto", Helvetica;
    font-size: 23.1px;
    font-weight: 700;
    height: 29px;
    left: 74px;
    letter-spacing: 0;
    line-height: 36px;
    position: absolute;
    top: 3px;
    white-space: nowrap;
    width: 53px;
}

.index .overlap-4 {
    border-radius: 4px;
    height: 148px;
    left: 0;
    position: absolute;
    top: 52px;
    width: 624px;
}

.index .all-wrapper {
    background-color: #ffffff;
    border-radius: 100px;
    height: 24px;
    left: 135px;
    position: absolute;
    top: 8px;
    width: 34px;
}

.index .all {
    color: #9a938d;
    font-family: "Roboto", Helvetica;
    font-size: 10px;
    font-weight: 700;
    height: 12px;
    left: 8px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 5px;
    white-space: nowrap;
    width: 18px;
}

.index .list-item {
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 1px 0px #ddd6cf;
    height: 148px;
    left: 0;
    position: absolute;
    top: 0;
    width: 624px;
}

.index .overlap-5 {
    height: 89px;
    left: 120px;
    position: absolute;
    top: 26px;
    width: 448px;
}

.index .div-book-description {
    height: 83px;
    left: 0;
    position: absolute;
    top: 6px;
    width: 448px;
}

.index .link {
    height: 20px;
    left: 0;
    position: absolute;
    top: 18px;
    width: 448px;
}

.index .span-authors-list {
    height: 18px;
    position: relative;
    top: 1px;
    width: 93px;
}

.index .link-gerry-souter {
    color: #302119;
    font-family: "Roboto", Helvetica;
    font-size: 14px;
    font-weight: 400;
    height: 17px;
    left: 0;
    letter-spacing: 0;
    line-height: 20px;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 86px;
}

.index .link-gerry-souter-wrapper {
    height: 18px;
    left: 0;
    position: absolute;
    top: 42px;
    width: 93px;
}

.index .div-badge {
    background-color: #a3abcd26;
    border-radius: 8px;
    height: 20px;
    left: 0;
    position: absolute;
    top: 68px;
    width: 122px;
}

.index .text-wrapper-13 {
    color: #4e546c;
    font-family: "Roboto", Helvetica;
    font-size: 10px;
    font-weight: 700;
    height: 12px;
    left: 8px;
    letter-spacing: 0;
    line-height: 12px;
    position: absolute;
    top: 3px;
    white-space: nowrap;
    width: 106px;
}

.index .kdc-wrapper {
    background-color: #a3abcd26;
    border-radius: 8px;
    height: 20px;
    left: 132px;
    position: absolute;
    top: 68px;
    width: 83px;
}

.index .text-wrapper-14 {
    color: #302119;
    font-family: "Roboto", Helvetica;
    font-size: 16px;
    font-weight: 700;
    height: 20px;
    left: 0;
    letter-spacing: 0;
    line-height: 20px;
    position: absolute;
    top: 0;
    width: 132px;
}

.index .div-book-cover {
    height: 124px;
    left: 16px;
    position: absolute;
    top: 12px;
    width: 88px;
}

.index .overlap-6 {
    height: 124px;
    position: relative;
}

.index .ipad-jpg {
    background-position: 50% 50%;
    background-size: cover;
    height: 104px;
    left: 0;
    position: absolute;
    top: 10px;
    width: 88px;
}

.index .overlap-group-wrapper {
    height: 124px;
    left: 0;
    position: absolute;
    top: 0;
    width: 88px;
}

.index .pseudo-wrapper {
    background-position: 50% 50%;
    background-size: cover;
    height: 123px;
}

.index .pseudo {
    background-color: #ffffff01;
    box-shadow: 0px 0px 0px 2px #0000000a;
    height: 123px;
    width: 88px;
}

.index .overlap-7 {
    height: 16px;
    left: 584px;
    position: absolute;
    top: 66px;
    width: 16px;
}

.index .div-plus-bar {
    background-color: #9a938d;
    height: 2px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 8px;
}

.index .div-plus-bar-2 {
    background-color: #9a938d;
    height: 2px;
    left: 8px;
    position: absolute;
    top: 7px;
    width: 8px;
}

.index .div-plus-bar-3 {
    background-color: #9a938d;
    height: 8px;
    left: 7px;
    position: absolute;
    top: 0;
    width: 2px;
}

.index .div-plus-bar-4 {
    background-color: #9a938d;
    height: 8px;
    left: 7px;
    position: absolute;
    top: 8px;
    width: 2px;
}

.index .list-item-2 {
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 1px 0px #ddd6cf;
    height: 148px;
    left: 0;
    position: absolute;
    top: 378px;
    width: 624px;
}

.index .group-4 {
    height: 36px;
    left: 0;
    position: absolute;
    top: 0;
    width: 131px;
}

.index .list-item-3 {
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 1px 0px #ddd6cf;
    height: 148px;
    left: 0;
    position: absolute;
    top: 215px;
    width: 624px;
}

.index .list-item-4 {
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 1px 0px #ddd6cf;
    height: 148px;
    left: 969px;
    position: absolute;
    top: 552px;
    width: 624px;
}

.index .wzezyuf-ipad-jpg {
    background-position: 50% 50%;
    background-size: cover;
    height: 104px;
    position: relative;
    top: 10px;
}

.index .list-item-5 {
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 1px 0px #ddd6cf;
    height: 148px;
    left: 969px;
    position: absolute;
    top: 878px;
    width: 624px;
}

.index .list-item-6 {
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 1px 0px #ddd6cf;
    height: 148px;
    left: 327px;
    position: absolute;
    top: 1041px;
    width: 624px;
}

.index .list-item-7 {
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 1px 0px #ddd6cf;
    height: 148px;
    left: 327px;
    position: absolute;
    top: 1204px;
    width: 624px;
}

.index .div-wrapper {
    background-image: url(https://cdn.animaapp.com/projects/6554b898d013fc74e5940117/releases/6554b8c9411b2c1ade9b7f0b/img/yldlclpn-ipad-jpg@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 123px;
}

.index .list-item-8 {
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 1px 0px #ddd6cf;
    height: 148px;
    left: 969px;
    position: absolute;
    top: 715px;
    width: 624px;
}

.index .list-item-9 {
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 1px 0px #ddd6cf;
    height: 148px;
    left: 969px;
    position: absolute;
    top: 1041px;
    width: 624px;
}

.index .list-item-10 {
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 1px 0px #ddd6cf;
    height: 148px;
    left: 969px;
    position: absolute;
    top: 1204px;
    width: 624px;
}

.index .ipad-jpg-2 {
    background-image: url(https://cdn.animaapp.com/projects/6554b898d013fc74e5940117/releases/6554b8c9411b2c1ade9b7f0b/img/wzez1yuf-ipad-jpg@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 104px;
    position: relative;
    top: 10px;
}
