/* navigation.css */
.index {
    background-color: #fbf9f7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.overlap-2 {
    height: 96px;
    position: absolute;
    top: 0;
    width: 1920px;
}

.container-2 {
    background-color: #ffffff;
    height: 96px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1920px;
}

.textbox-4 {
    background-color: #f3f4f6;
    border-radius: 8px;
    height: 51px;
    left: 104px;
    position: absolute;
    top: 22px;
    width: 499px;
}

.text-wrapper-12 {
    color: #bdc1ca;
    font-family: "Manrope", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 52px;
    letter-spacing: 0;
    line-height: 28px;
    position: absolute;
    top: 11px;
    white-space: nowrap;
}

.frame-4 {
    height: 24px;
    left: 20px;
    position: absolute;
    top: 14px;
    width: 24px;
}

.image-2 {
    height: 52px;
    left: 32px;
    position: absolute;
    top: 22px;
    width: 60px;
}

.vector {
    height: 40px;
    left: 1850px;
    position: absolute;
    top: 28px;
    width: 40px;
}

.line {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 96px;
    width: 1440px;
}
