.admin_container input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
  }
  .uploadBtn {
    display: inline-block;
    padding: 13px 20px;
    color:  #ECF0F1;
    vertical-align: middle;
    background-color: #34495E;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
  }
  .autoIndexBtn {
    display: inline-block;
    padding: 10px 20px;
    color: #ECF0F1;
    vertical-align: middle;
    background-color: #3498DB;
    margin-left: 10px;
    margin-top: 18px;
    border: none;
    border-radius: 5px;
}

  .logoutBtn {
    background-color: #25638d;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 70%;
    transition: background-color 0.3s ease;
  }
  
  .logoutBtn:hover {
    background-color: #ffffff;
    color: #000;
  }

  .upload-name {
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 35%;
    color: #999999;
    border-radius: 5px;
  }
  .admin_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.header {
    background-color: #25638d;
    padding: 10px;
    color: white;
    display: flex;
    align-items: center;
}

.headerName {
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px; /* 로고와 텍스트 사이의 간격 조절 */
  width: 20%;
}

.left-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 150px;
}


.index-list-container {
  width: 80%;
  padding: 20px;
  border-radius: 8px;
}
.index-list-container>h2{
  font-size: 25px;
    margin: 30px 5px;
}

.table-container {
  overflow-x: auto;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.table-container th, .table-container td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

.table-container th {
  background-color: #f2f2f2;
}
.contentBox{
  display: flex;
}
#upload-file{
  display: none;
}

.menu-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.menu-item {
  cursor: pointer;
  width: 100%;
  text-align: center;
  transition: background-color 0.3s ease;
}
.menu-item-center{
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #c3c2c2;
}

.menu-item:hover {
  background-color: #ddd; /* 호버 효과 색상 조정 */
}

.fileContainer{
  width: 100%;
}
.uploadBox{
  margin: 50px;
}



.allPage {
  position: relative;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* 어두운 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loading-spinner {
  border: 8px solid #f3f3f3; /* 회색 테두리 */
  border-top: 8px solid #3498db; /* 파란색 테두리 */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}